/*
!.gitignore
!/nvim/
!/kitty/
!/zsh/

# zsh generated/cache files
/zsh/.zsh_history
/zsh/.zcompdump*
/zsh/.zsh_sessions/
/zsh/.cache/

# zsh machine-local config
/zsh/local.zsh
/zsh/local.zshenv
/zsh/local.profile.zsh

!starship.toml

# opencode plans
**/.plans
